.perfil-main {
    min-height: 100vh;
    padding: 30px 20px;
    color: white;
}

/* Container central */
.perfil-container {
    text-align: center;
}

/* Avatar */
.perfil-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-photo {
    font-size: 14px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Título */
.perfil-title {
    font-size: 28px;
    margin-top: 10px;
    font-weight: bold;
}

/* GRID */
.perfil-grid {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
    margin-bottom: 50px;
}

/* CARDS */
.perfil-card {
    background: #3b6ca8;
    border-radius: 12px;
    padding: 25px 10px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.perfil-card:hover{
    background: #053f81;
    border-color: #053f81;
    transform: translateY(-6px);
    box-shadow: 0 2px 8px rgba(5, 63, 129, 0.3);
}

.card-icon {
    font-size: 36px;
    margin-bottom: 8px;
}
