body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #053f81;
    text-align: center;
  }
 
  .negrito {
    font-weight: bold;
  }
  .b2 {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #3b6ca8;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: help;
  }
  
   .b2:hover{
    background-color: #053f81;
    transform: scale(1.1);
  }
  
  .eventos-container {
    display: flex;           /* Ativa o flexbox */
    gap: 35px;               /* Espaço entre os eventos */
    flex-wrap: wrap;         /* Faz os eventos quebrarem linha se não couberem na tela */
    justify-content: center; /* Centraliza os eventos */
    margin-top: 30px;
  }
  .quadrado-evento {
    background-color: #3b6ca8;
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.3s ease; /* aumento da duração e suavização adicionada, agora também anima mudança de cor */
    color: white;
  }
  .quadrado-evento:hover {
    transform: scale(1.1);
    background-color: #053f81;
  }

