.promocao {
    width: 864px;
    height: 420px;
    border-radius: 15px;
  }
  
  @media (max-width: 768px) {
    .promocao {
      width: 264px;
      height: 150px; /* reduz a altura no celular */
    }
  }

.p {
    margin-bottom: 15px;
}

/* ===================== RESPONSIVO ===================== */
@media (max-width: 900px) {
  .promocao {
    width: 90vw;
    height: auto;
    border-radius: 10px;
  }
}